.downloads
  %table
    %thead
      %tr
        %th Build
        %th Version
        %th Minecraft Version
        %th Files
        %th Changes
        - if can? :edit, project
          %th Change State
    %tbody
      = render latest_builds(project)