.large-12.columns
  - Project.all.each do |project|
    %h2
      = project.name
    %table
      %thead
        %tr
          %th Build
          %th Mod Version
          %th Minecraft Version
          %th Files
      %tbody
        = render latest_builds(project)