.large-12.small-centered.columns.small-text-center.downloads
  %h1.huge-text Downloads
  %h2.text-muted All the files you need to play
  - Project.all.each do |project|
    .mod-header
      .large-6.columns.center
        .large-4.columns.text-right.show-for-large-up
          = image_tag project.icon_url.to_s, :class => 'y-center mod-download-icon'
          -# %img.y-center.mod-download-icon{:src => "http://placehold.it/100x100"}
        .large-8.columns.text-left
          %h1.title
            = project.name
          %h3.subtitle.show-for-medium-up
            = project.subtitle
    = render 'downloads', project: project