fieldset {
  background: lighten($base-border-color, 10);
  border: 1px solid $base-border-color;
  margin: 0 0 ($base-line-height / 2);
  padding: $base-line-height;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  font-weight: bold;
  margin-bottom: $base-line-height / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: white;
  border-radius: $form-border-radius;
  border: 1px solid $form-border-color;
  box-shadow: $form-box-shadow;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-line-height / 2;
  padding: ($base-line-height / 3) ($base-line-height / 3);
  width: 100%;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

.fieldWithErrors input[type="text"],
.fieldWithErrors .focused input[type="text"],
.fieldWithErrors .focused textarea,
.fieldWithErrors textArea {
  border: 2px solid $orange;
  border-color: $orange;

  &:focus {
    border: 2px solid $orange;
    border-color: $orange;
  }
}

.fieldWithErrors span.hint, { background-color: $orange; }
.valid span.hint { background-color: $green; }

.valid input[type="text"],
.valid .focused input[type="text"],
.valid .focused textarea,
.valid textarea {
  border: 2px solid $green;
  border-color: $green;

  &:focus {
    border: 2px solid $green;
    border-color: $green;
  }
}

input[type="text"]:focus, textarea:focus {
  box-shadow: none;
  border: 2px solid $blue;
  border-color: $blue;
}

.focused {
  span.hint {
    visibility: visible;
  }
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
}

input[type="file"] {
  margin-bottom: $base-line-height / 2;
  padding-bottom: ($base-line-height / 3);
  width: 100%;
}

input[type="text"], textarea {
  border-width: 2px;
  border-radius: 0;
  box-shadow: none;
}

span.hint {
  visibility: hidden;
  float: right;
  padding: 0 6px 3px;
  color: #fff;
  background-color: $blue;
  font-weight: 400;
  margin-top: -12px;
}

input[disabled], textarea[disabled] {
  background-color: $gray;

  &:hover {
    background-color: $gray;
  }
}

.change-label {
  float: left;
  margin-left: -45px;
}

span.error {
  float: left;
  margin-top: -10px;
  font-weight: 400;
}

select {
  margin-bottom: $base-line-height;
  max-width: 100%;
  width: auto;
}
