- provide(:navbar_status, 'off')
.large-12.columns.hero.secondary-row
  .row.top-row
    -# %h1.huge-text.text-center.hero-title HeisenBugDev
    = image_tag 'heisenbugdev_logo.png', :class => 'text-center heisenbugdev-logo hero-title'
    %h2.hero-subtitle.text-center
      %a{:href => "http://discourse.heisenbugdev.com"} Forums
