.wrapper.light
  .center
    .large-4.columns.feature-text.text-right
      %h1 QuantumCraft
      %p A joint effort of the whole team that builds on basic quantum physics.
    .large-5.columns.left-align
      = image_tag "quantumcraft.png"
.wrapper.dark
  .center
    .large-5.columns.left-align
      .avatars
        %img{:src => "http://gravatar.com/avatar/fe9752a7c40b4b3c430fbf79ad74f5e2?s=250"}
        %img{:src => "https://1.gravatar.com/avatar/59ef7a1cf4b465a8ece39e4cad3a69c0?d=https%3A%2F%2Fidenticons.github.com%2Fae950874f23eb1dfc1588f00afaf31dc.png&r=x&s=250"}
        %img{:src => "https://identicons.github.com/ecbe06eb1aebd8ebd87e241f37bc6d4c.png"}
        %img{:src => "https://identicons.github.com/1223a290ec7ad35514af27a020b6d6de.png"}
    .large-4.columns.feature-text.text-left
      %h1 Meet the team
      %p
        The team is composed of
        %a{:href => "/"} @hunterboerner,
        %a{:href => "/"} @TheJereman13,
        %a{:href => "/"} @wtg62,
        and
        %a{:href => "/"} @Azim.