.large-12.columns.hero
  .row
    %h1.huge-text.text-center.hero-title HeisenBugDev
    = image_tag 'hero_screenshot.png', :class => 'hero-image'
    %h2.hero-subtitle.text-center A Minecraft mod resource hub built for the user and developer in mind.
.large-12.columns.primary-row
  .row
    %h1.text-center.row-header No more waiting for a new release.
    %h3.row-subheader.text-center Nobody likes waiting for all the goodies you just added or the bugs you fixed, speed up the process between writing the mod and releasing it.
  .row
    .large-4.columns.text-center
      %i.fi-upload-cloud.feature-icon
      %h4.feature-title Automated uploading
      %p.feature-subtitle Easily connect to your CI or use a free cloud hosted one such as Wercker to automatically upload builds per branch.
    .large-4.columns.text-center
      %i.fi-wrench.feature-icon
      %h4.feature-title Easy management
      %p.feature-subtitle Change the state of your build between Release, Beta, Bugged, and Normal depending on the stability of it.
    .large-4.columns.text-center
      %i.fi-graph-trend.feature-icon
      %h4.feature-title Download counters
      %p.feature-subtitle See which files are getting the most downloads and how popular your mod is.
.large-12.columns.secondary-row
  .row
    %h1.text-center.row-header Stop confusing the players.
    %h3.row-subheader.text-center It's no use working hard on writing a mod when people can't use it.
  .row
    .large-6.columns.text-center
      %i.fi-universal-access.feature-icon
      %h4.feature-title Powerful, easy to use interface
      %p.feature-subtitle Let the players get to what they want quickly and easily but still let the developers access all the content only they need.
    .large-6.columns.text-center
      %i.fi-page-multiple.feature-icon
      %h4.feature-title Markdown Wikis
      %p.feature-subtitle The best markup language for documentation. All wrapped up in a git repo so that you can use any editor you want. Whether it's vim, emacs, or notepad, your wiki will be sublime.
.large-12.columns.primary-row
  .row
    %h1.text-center.row-header For the community by the community.
    %h3.row-subheader.text-center
      %a.blended-link{:href => "https://github.com/HeisenBugDev/HeisenBugDev"} Open Source
      so anyone can contribute and make it better.
  .row
    .large-3.columns.text-center
      %i.fi-lightbulb.feature-icon
      %h4.feature-title Ideas
      %p.feature-subtitle What next?
    .large-3.columns.text-center
      %i.fi-megaphone.feature-icon
      %h4.feature-title Feedback
      %p.feature-subtitle What's wrong?
    .large-3.columns.text-center
      %i.fi-unlock.feature-icon
      %h4.feature-title Open
      %p.feature-subtitle Keep no secrets.
    .large-3.columns.text-center
      %i.fi-paperclip.feature-icon
      %h4.feature-title Together
      %p.feature-subtitle Everything in one place.
.large-12.columns.secondary-row
  .row
    %h1.text-center.row-header What are you waiting for?
    %h1.row-subheader.text-center
      %a.blended-link{:href => "https://github.com/HeisenBugDev/HeisenBugDev/issues/new"} Request beta access today!
    %h4.text-center Note: GitHub account required.
