.large-12.columns.hero
  .row
    %h1.huge-text.text-center.hero-title HeisenBugDev
    = image_tag 'hero_screenshot.png', :class => 'hero-image'
    %h2.hero-subtitle.text-center A Minecraft mod resource hub built for the user and developer in mind.
.large-12.columns.primary-row
  .row
    %h1.text-center.row-header No more waiting for a new release.
    %h3.row-subheader.text-center Nobody likes waiting for all the goodies you just added or the bugs you fixed, speed up the process between writing the mod and releasing it.
  .row
    .large-4.columns.text-center
      %h4 Automated uploading
    .large-4.columns.text-center
      %h4 Easy management
    .large-4.columns.text-center
      %h4 Download counters