- @users.each do |developer|
  %span.has-top.tip-left{"data-tooltip" => true, :title => developer.name, "data-options" => "disable_for_touch:true"}
    = link_to developer do
      = gravatar_for(developer, :size => 50, :class => "developer-icon")
