#download-sidebar
  - latest_build = latest_stable(@project)
  %h3.blue-text Download
  - if latest_build.nil?
    %a.button.small.split.full-width.disabled
      None
      %span#more-downloads{"data-dropdown" => "drop"}
  - else
    - latest_artifact = latest_build.artifacts.find_by_name(:universal)
    - latest_file = latest_artifact.artifact
    = link_to latest_file.url, :class => 'button small split full-width skinny-button artifact-link', :download_counter_url => download_path(latest_artifact) do
      Latest
      (#{number_to_human_size(latest_artifact.file_size)} | #{latest_artifact.downloads} DLs)
      %span#more-downloads{"data-dropdown" => "drop"}