.large-12.columns
  %h1 Mods
  %table
    %thead
      %tr
        %th Name
        %th Download
        %th Wiki
    %tbody
      - Project.all.each do |project|
        - latest_build = latest_builds(project, 1)[0]
        %tr
          %td
            = link_to project.name, project
          %td
            - if latest_build.nil?
              None
            - else
              = link_to 'Download', latest_build.artifacts.find_by_name(:universal).artifact.url
          %td
            = link_to 'Wiki', wiki_path(project.wiki)