= render 'layouts/mod_header', {:project => @project}
.large-12.columns
  .row
    %h2 Developers
    - @project.users.each do |developer|
      = link_to developer.name, developer
    %h2 Downloads
    = render 'builds/downloads', project: @project
