// HeisenBugDev layout

.center {
  margin-left: auto;
  margin-right: auto;
}

div.container {
  @include outer-container;

  .left {
    @include span-columns(9);
    float: left;
  }

  .right {
    @include span-columns(3);
    float: right;
  }

  .three-c {
    @include span-columns(4);
  }

  .all-downloads-column {
    margin-top: 30px;
    @include outer-container;
    @include span-columns(5);
    @include shift(3)
  }
}

.row {
  margin-top: 30px;
  @include row();
}

.download-card p, .download-card h1 { font-weight: 400; }

.download-card {
  table.split-list {
    margin-top: 20px;
    width: $button-width;

    tr {
      td {
        border: none;
        font-size: 25px;
        padding: 0;
        line-height: 1.2;
      }

      td:nth-child(1) {
        color: #2b2b2b;
      }

      td:nth-child(2) {
        color: #e9662c;
        text-align: right;
      }
    }
  }
}

.build-grid {
  .download-card {
    @include span-columns(3.9);
  }
}