%h4= category.title.capitalize
%ul
  - category.articles.each do |article|
    %li
      %h5= render 'article', :article => article
- unless category.subcategories.nil?
  - category.subcategories.each do |sub_cat|
    = render 'category', :category => sub_cat