.large-12.columns#doc-wrapper
  .large-4.columns#doc-sidebar
    %h1.doc-title HeisenBugDev
    #doc-list
      %ul
        - get_articles(@wiki).each do |article|
          %li
            = render 'article', :article => article
        - get_categories(@wiki).each do |category|
          %li.wiki-nav
            = render 'category', :category => category
  .large-8.columns#doc-article
    %h1.doc-title\ \
    #doc-article-content
      %h1
        #{@article.title.capitalize.split('_').join(' ') unless @article.title == 'home'}
      :plain
        #{GitHub::Markdown.render(@article.body)}