// Blues
$bright-blue: #5f7b92;
$light-blue: #3a5875;
$primary-blue: #213d59;
$dark-blue: #11293f;
$very-dark-blue: #071728;

// Purples
$bright-purple: #6d6ca2;
$light-purple: #444380;
$primary-purple: #262561;
$dark-purple: #131144;
$very-dark-purple: #08062c;

// yellow
$bright-yellow: #fee69d;
$light-yellow: #c9ac5c;
$primary-yellow: #987b31;
$dark-yellow: #6b5217;
$very-dark-yellow: #42300a;

// Oranges
$bright-orange: #fdd29d;
$light-orange: #c8965b;
$primary-orange: #98642f;
$dark-orange: #6b4016;
$very-dark-orange: #42240a;

$almost-white: #E9E9E9;
$gray: #616161;
