@import "bourbon";
@import "base/base";
@import "neat";
@import "layout/layout";

@import "spinner";
@import "mod_header";
@import "projects";

// remember! trbl

body {
  margin: 0;
}

* {
  font-weight: 300;
}

.loading {
  visibility: hidden;
}
