// Place all the styles related to the Builds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mod-header {
  margin-top: 2em;
  margin-bottom: 1em;
  background-color: #393E54;
  border-radius:9px;
  min-height: 100%;
  overflow-y: hidden;

  .subtitle {
    color: #858895;
  }

  .title {
    color: #B3B5BD;
  }
}

.y-center {
  position: relative;
}

.downloads {
  table {
    width: 100%;
  }
  .button {
    margin-bottom: 0px;
  }
}