// Place all the styles related to the Builds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.downloads {
  table {
    width: 100%;
  }
  .button {
    margin-bottom: 0px;
  }
}

.fi-plus {
 font-size: 20px;

 &:hover {
  color: #4a4a4a;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
 }
}

.fi-minus {
 font-size: 20px;

 &:hover {
  color: #4a4a4a;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
 }
}

.more-artifacts {
  display: inline-block;
}

.hide {
  display: none;
}