.hero {
  background-color: #3a5875;
}

.hero-title {
  margin-bottom: -0.5em;
  color: #e5e5e5;
}

.hero-subtitle {
  margin-top: -3em;
  color: #9e9e9e;
}

.hero-image {
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  max-height: initial;
}

.primary-row {
  background-color: #98642f;
}

.row-header {
  color: #cccccc;
}

.row-subheader {
  color: #9e9e9e;
}