@import 'variables';

.hero {
  background-color: $light-blue;
}

.hero-title {
  margin-bottom: -2vw;
  color: #e5e5e5;
}

.hero-subtitle {
  margin-top: -3em;
  color: $almost-white;
}

.hero-image {
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  max-height: initial;
}

.primary-row {
  background-color: $primary-orange;

  .blended-link {
    color: inherit;
    text-decoration:underline;

    &:hover {
      color: $light-blue;
    }
  }
}

.secondary-row {
  background-color: $light-blue;

  .blended-link {
    color: inherit;
    text-decoration:underline;

    &:hover {
      color: $primary-orange;
    }
  }
}

.row-header {
  color: $almost-white;
}

.primary-row .row-subheader {
  color: black;
}

.secondary-row .row-subheader {
  color: black;
}

.feature-icon {
  font-size: 60pt;
  color: #071728;
}

.feature-subtitle {
  color: $almost-white;
}

.feature-title {
  color: $almost-white;
}