.mod-header {
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #314f6b;
  min-height: 100%;

  .subtitle {
    color: #858895;
  }

  .title {
    color: #B3B5BD;

    &:hover {
      color: #4a78b0;
    }
  }

  h1, h3 {
    height: 1.5em;
    margin: 0px !important;
  }
}

.y-center {
  position: relative;
}

.icon-column {
  padding-left: 0;
  width: 150px;
}

.title-column {
  float: left !important;
}

.mod-download-icon {
  width: 100px;
  height: 100px;
  background-color: #D8D8D8;
  border-radius: 9px;
  padding: 8px;
}

.hundred-square {
  width: 100px;
  height: 100px;
  float: right;
}