// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.developer-icon {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  opacity: 1;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}

.mod-icon {
  width: 75px;
  height: 75px;
  background-color: #D8D8D8;
  border-radius: 9px;
  padding: 8px;
  display: inline;
}

.blue-text {
  color: #008CBA;
}