// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.developer-icon {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  opacity: 1;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}

#add-dev-set {
  margin-top: 5px;
}

.full-width {
  width: 100%;
}

#add-dev-form {
  position: absolute;
  width: 88%;
  z-index: 1;
  background-color: #393E54;
  padding: 10px;
  border-radius: 4px;
}

.thin-button {
  padding: 4% !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.skinny-button {
  padding-left: 2% !important;
  padding-right: 10% !important;
}

.thin-bottom-margin {
  margin-bottom: 2% !important;
}

ul.ui-autocomplete {
  .ui-menu-item {
    position: static;
  }
}

#dev-dropdown {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.mod-icon {
  width: 75px;
  height: 75px;
  background-color: #D8D8D8;
  border-radius: 9px;
  padding: 8px;
  display: inline;
}

.blue-text {
  font-weight: 500;
  color: #3b3877;
  border-bottom: 2px solid #3b3877;
}

.code-repo {
  background: image-url('octocat-favicon.png') no-repeat left;
  background-size: 16px 16px;
  padding-left: 20px;
}

.wiki-repo {
  background: image-url('wiki-favicon.svg') no-repeat left;
  background-size: 16px 16px;
  padding-left: 20px;
}

.repo-outer {
  padding: 10px;
  background-color: #5f7b92;
  border-bottom: 1px solid #213d59;
  white-space:nowrap;
  overflow:hidden;
  margin-bottom: 5px;
  width: 100%;
  position: relative;
  z-index: 1;

  &:hover {
    background-color: #3a5875;
    overflow: visible;
  }

  span {
    color: #eaeaea;
  }
}

.state-label {
  position: relative;
}

.best_in_place {
  display: inline-block;
  cursor: pointer;
  width: 100%;

  form {
    input {
      font-size: 20px;
      border-radius: 9px;
      margin-bottom: 0;
    }
    textarea {
      font-size: 20px;
      border-radius: 9px;
      min-width: 100px !important;
      resize: none;
      margin-bottom: 0;
    }
  }
}

.best_in_place_direct {
  &:hover {
    background-color: #CCCCCC;
    border-radius: 8px;
    margin: -10px;
    padding: 10px;
  }
}

@mixin circle-icon {
  color: white;
  background-color: black;
  padding: 2px;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 50%;

  &:hover {
    color: #868686;
    background-color: #363636;
  }
}

.fi-wrench {
  @include circle-icon;
}

.fi-plus {
  @include circle-icon;
  padding-right: 8px;
  padding-left: 8px;
}

.panel{
  border-style: solid;
  border-width: 0;
  border-color: #d9d9d9;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #f2f2f2;
}