// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.developer-icon {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  opacity: 1;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}

#add-dev-set {
  margin-top: 5px;
}

#add-dev {
  width: 100%;
}

#add-dev-form {
  position: absolute;
  width: 88%;
  z-index: 1;
  background-color: #393E54;
  padding: 10px;
  border-radius: 4px;
}

.thin-button {
  padding: 4% !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.thin-bottom-margin {
  margin-bottom: 2% !important;
}

ul.ui-autocomplete {
  .ui-menu-item {
    position: static;
  }
}

.mod-icon {
  width: 75px;
  height: 75px;
  background-color: #D8D8D8;
  border-radius: 9px;
  padding: 8px;
  display: inline;
}

.blue-text {
  color: #008CBA;
}