@import 'variables';

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.circle {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  z-index: 1;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.circle:nth-child(1) {
  z-index: 2;
  background: $primary-orange;
  -webkit-animation-name: explode;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-delay: 0;
  -webkit-animation-iteration-count: infinite;
}
.circle:nth-child(2) {
  background: $primary-blue;
  -webkit-animation-name: explode;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes explode {
  0% {
    width: 0;
    height: 0;
    z-index: 1;
  }

  50% {
    width: 5em;
    height: 5em;
    z-index: 1;
  }

  100% {
    display: none;
  }
}

.spinner {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 0px;
}
