%li
  = link_to artifact.artifact.url, :download_counter_url => download_path(artifact), :class => 'artifact-link' do
    #{artifact.name}
    %div{:style => 'float: right'}
      %span.label #{artifact.downloads} DLs
      %span.label.secondary #{number_to_human_size(artifact.file_size)}